.tableOverflow {
    overflow: auto;
    width: 100%;
    max-height: 400px;
    cursor: default !important;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
}

table {
    width: 100%;
    border: 1px solid #ddd; /* Optional: Adds a border around the table */
    border-collapse: collapse;
}

tr {
    width: 100%;
}

tr:nth-child(even) {
    background-color: rgba(222, 222, 222, 0.663);
}

th, td {
    width: max-content;
    text-align: center;
    white-space: nowrap;
}

th {
    background-color: #8C85FF;
    position: sticky;
    top: 0;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    padding: 10px; /* Tambahkan padding agar lebih rapi */
    white-space: nowrap;
}

th .sort-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 5px; /* Jarak antara teks dan ikon */
}

th .sort-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    font-size: 12px; 
    line-height:0px;
}

th .sort-icon {
    opacity: 0.6;
    cursor: pointer;
    margin: -5px 0;
}

th .active-sort {
    opacity: 1;
}


@media (max-width: 768px) {
    th, td {
        min-width: 100px;
    }
}
