.status-absen {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.separator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}