* {
    font-family: "Poppins", sans-serif;
}

.password-wrapper {
    position: relative;
}
.password-wrapper input {
    padding-right: 2.5rem; /* Space for the icon */
}
.password-wrapper i {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.floating-placeholder {
    position: relative;
    margin-top: 1.5rem;
}

.floating-input {
    width: 100%;
    padding: 1rem 2.5rem 1rem 1rem;
    border: 2px solid #d1d5db;
    border-radius: 0.375rem;
    background-color: #fff;
    font-size: 1rem;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.floating-input:focus {
    border-color: #8C85FF; /* Change color on focus */
}

.floating-placeholder label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 0.25rem;
    color: #6b7280;
    transition: all 0.3s ease;
    pointer-events: none;
}

.floating-input:focus + label,
.floating-input:not(:placeholder-shown) + label {
    top: 0rem;
    left: 0.75rem;
    font-size: 0.75rem;
    color: #8C85FF;
}

.password-wrapper i {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 4px;
}
.success-message {
    color: green;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
    padding: 10px;
    background-color: #bee7ad; 
    border-radius: 4px;
}

