* {
    font-family: "Poppins", sans-serif;
}

.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
}
.success-message {
    color: green;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.password-wrapper {
    position: relative;
}
.password-wrapper i {
    position: absolute;
    right: 0.75rem;
    top: 50%; 
    transform: translateY(-50%);
    cursor: pointer;
}

/* Add this to your reset_password.css or login.css */

/* Container for the input and icon */
.relative {
    position: relative;
    margin-bottom: 1rem;
}

/* Add this to your reset_password.css or login.css */

/* Warning message styling */
.warning-message {
    color: #b91c1c;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}


.criteria-message {
    margin-top: 10px;
}

.invalid {
    color: red;
    text-align: left; 
    font-size: 12px;
    /*background-color: rgba(255, 0, 0, 0.2); /* Red background with opacity */
}
.valid {
    color: green;
    text-align: left;
    font-size: 12px; 
   /* background-color: rgba(0, 255, 0, 0.2); /* Green background with opacity */
}

.error_confirm {
    color: red;
    text-align: left;
    font-size: 12px; 
}